<div class="row">
	<div class="span12">
		<h1>Google + Discogs</h1>
		<% if flash.now[:error] %>
			<div class="error"><%= flash.now[:error] %></div>
		<% end %> 		
		<%= form_tag("/search", :method => "get") do %>
		  <%= text_field_tag(:img_url, nil, { :placeholder => "enter image url", :class => "img-input" })%>
		  <%= submit_tag("Search", :class => "hidden") %>
		<% end %>
		<%= form_for @image, :url => images_path, :html => { :multipart => true } do |f| %>
		  <%= f.file_field :image %>
		  <%= f.submit "Submit" %>
		<% end %>		
 	</div>
</div>
<div class="row">
	<div class="span12">
		<img src="http://api.discogs.com/image/R-150-5388086-1392132204-2492.jpeg">
	</div> 
</div>
<% unless @name.nil? %> 
	<h3>Results for <%=link_to @name, 'http://www.google.com/search?q=' + @name, :target => '_blank' %></h3>
	<ul id="results">
		<% @response['results'].each do |el| %> 
			<li>
			<%=link_to image_tag(el['thumb']), 'http://www.discogs.com' + el['uri'], :target => "_blank" %> 
			<p><%= el['title'] %></br> 	
			<%= el['type'].titleize %></p>
			</li>
		<% end %> 
	<ul> 
<% end %> 
